* {
  font-family: 'Roboto Slab', Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdaf;
  max-width: 800px;
  margin: 0 auto 0 auto;
  position: relative;
  padding: 50px 20px;
}

div {
  padding-top: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fffdaf;
}

::-webkit-scrollbar-thumb {
  background: black;
}

h1 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
}