.about-me-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 100px 0 0 auto;
  max-width: 800px;
}

.about-me-page img{
  width: 30%;
  flex-basis: 30%;
}

.about-me-page .text {
  flex-basis: 70%;
}

.about-me-page p {
  font-size: 16px;
  margin-top: 6px;
}

@media screen and (width > 820px) {
  .about-me-page p {
    font-size: 18px;
  }

  .about-me-page h1 {
    font-size: 30px;
  }
}