.contact-page {
  margin: 100px auto 0 auto;
  max-width: 800px;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease;
}

.contact-page h2 {
  margin-bottom: 10px;
}


.contact-page .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-page .title i {
  font-size: 50px;
}

.contact-page h4 {
  margin-top: 6px;
}

.contact-page input {
  font-size: 16px;
  background-color: transparent;
  border: 3px solid black;
  padding: 4px 6px;
  outline: none;
  border-radius: 3px;
  padding: 6px;
  transition: background-color 0.3s ease;
}

.contact-page textarea {
  font-size: 16px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 3px;
  width: 100%;
  caret-color: black;
  resize: none;
  transition: background-color 0.3s ease;
  outline: none;
  padding: 6px;
}

.contact-page button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 8px;
  border-radius: 20px;
  border: none;
  width: 200px;
  background-color: #fffc46;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s ease;
  transition: color 1s ease;
}

.contact-page button:hover {
  border: 1px solid black;
  bottom: -51px;
}
