* {
  font-family: 'Roboto Slab', Arial;
  margin: 0;
  padding: 0;
  min-width: none;
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth
}

body {
  background-color: #fffdaf;
  padding: 100px 30px 0px 60px;
  max-width: 1200px;
  margin: 0 auto 1000px auto;
  position: relative;
}