main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto 0 0;
  position: relative;
}

main h1 {
  margin-left: 15px;
  font-size: 30px;
  transition: all 0.3s;
}

.html-img {
  display: none;
}

.arrow {
  display: none;
}

@media screen and (width > 500px) {
  main {
    flex-direction: row;
    gap: 10px;
  }

  main h1 {
    flex-basis: 70%;
  }

  .html-img {
    display: inline-block;
    width: 30%;
    flex-basis: 30%;
    border-radius: 7px;
  }
}

@media screen and (width > 700px) {
  main h1 {
    font-size: 38px;
  }
}

@media screen and (width > 900px){
  main h1 {
    font-size: 45px;
  }
}

@media screen and (width > 1200px) {
  .arrow {
    display: block;
    position: absolute;
    right: -350px;
    bottom: -150px;
    transform: scaleX(-1) rotate(60deg);
    width: 350px;
  }
}