.my-projects-page {
  margin-top: 50px;
}

.my-projects-page .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-projects-page i {
  font-size: 50px;
  margin-left: 15px;
}

.my-projects-page p {
  margin-left: 20px;
  margin-top: 6px;
}
