.sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: blue;
  overflow: hidden;
  background-color: #fffd8d;
  transition: all 0.5s;
}

.sidebar button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 8px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.sidebar-button:hover {
  border-left: 4px solid black;
}

.sidebar-button:active {
  background-color: #fffc9c;
}

body.sidebar-open .sidebar {
  width: 200px;
}

body.sidebar-open .sidebar-button span {
  opacity: 1;
}

.sidebar button i{
  font-size: 40px;
  margin-right: 15px;
}

.sidebar-button span {
  font-size: 22px;
  opacity: 0;
  transition: all  0.5s;
  text-wrap: nowrap;
}

.sidebar-header .sidebar-button {
  background-color: #fffd8d;
}