.my-stack {
  max-width: 800px;
  margin: 100px auto 0 auto;
  opacity: 0;
  transition: opacity 1s ease;
}

.my-stack .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-stack .title i {
  font-size: 50px;
}

.my-stack .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin-left: 4px;
  margin-top: 5px;
}

.my-stack .holder {
  padding: 3px 15px;
  border: 2px solid black;
  border-radius: 15px;
}

.my-stack .holder:hover {
  background-color: #fffc46;
}

.my-stack p {
  margin-top: 10px;
  margin-left: 5px;
}

.my-stack p a {
  color: black;
}
