.work-page {
  max-width: 800px;
  margin: 100px auto 0 auto;
}

.work-page p {
  margin-top: 6px;
}

.work-page .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work-page .title i {
  font-size: 50px;
}

.work-page a {
  color: black;
}
